@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Colors */
    --color-blue-light: #6E7DA2;
    --color-black: #000000;
    --color-yellow-light: #FBDA6F;
    --color-blue-ultralight: rgba(174, 218, 221, 0.3);
    --color-orange-flat: rgba(219, 153, 108, 0.8);;
    --color-yellow-flat: rgba(251, 218, 111, 0.8);
    --color-blue-flat: rgba(110, 125, 162, 0.8);
    --color-green-light: rgba(174, 218, 221, 0.3);
    --color-blue-flat-light: #AEDADD;
    --color-cream: #FCF8F3;
    --color-white: #FFFFFF;
    --color-grey-dark: #3A3A3A;

    /* Fonts Bolder */
    --master-bold: 700;
    --ultra-bold: 500;
    --bold: 400;
    --bold-medium: 300;
    
    /* Fonts Tipografia */
    --h1: 7.2rem;
    --h2: 4rem;
    --h3: 3.6rem;
    --h4: 3.2rem;
    --h5: 2.4rem;
    --h6: 1.6rem; 
    --h7: 1.4rem;
    --h8: 1rem; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #FCF8F3;
    font-family: 'Fredoka One', cursive;
    width: 100%;
    max-width: 120rem;
    font-size: 3rem;
}

nav.navegacao {
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
}

.box-nav {
    width: 100%;
    max-width: 111.09rem;
    margin: 0 2.5rem 0 5.6rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.image-logo img {
    margin-top: -.3rem;
    width: 7.2rem;
    height: 8rem;
}

.complemento-logo {
    margin-top: 1.2rem;
}

.complemento-logo h2 {
    font-size: var(--h3);
    color: var(--color-blue-light);
}

.complemento-logo p {
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--ultra-bold);
    line-height: 1.95rem;
    font-size: var(--h6);
}

.menu-navegacao {
    margin-top: 1.8rem;
}

.menu-navegacao nav ul.lista-navegacao {
    display: flex;
    align-items: center;
}

ul.lista-navegacao li + li {
    margin-left: 2.2rem;
}

ul.lista-navegacao li a {
    color: var(--color-blue-light);
    font-size: var(--h5);
    line-height: 2.904rem;
}

ul.lista-navegacao li div.line {
    height: 5rem;
    width: .4rem;
    background-color: var(--color-blue-light);
    border-radius: .6rem;
}

ul.lista-navegacao li form button[type="submit"] {
    width: 100%;
    max-width: 10.3rem;
    padding: 1.1rem 2.900rem;
    background-color: var(--color-blue-light);
    color: var(--color-white);
    font-weight: var(--master-bold);
    text-transform: uppercase;
    font-size: var(--h7);
    border-radius: .5rem;
}

.section-principal {
    width: 100%;
    max-width: 89.321rem;
    margin: 4.457rem 18.3rem 5.88rem 12.379rem;
    display: flex;
}

.bg-baby {
    height: 100%;
    max-height: 40rem;
    margin-right: 9.409rem;
}

.bg-baby img {
    width: 100%;
    max-width: 39.611rem;
    height: auto;
    max-height: 40.062rem;
}

.baby-descricao {
    display: flex;
    flex-direction: column;
    margin-top: 4.3rem;
}

.baby-titulo h2 {
    width: 100%;
    max-width: 40.3rem;
    font-size: var(--h2);
    color: var(--color-blue-light);
    margin-bottom: .9rem;
    line-height: 4.84rem;
}

.baby-titulo-descricao p {
    width: 100%;
    max-width: 37.8rem;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--h6);
    font-weight: var(--bold);
    margin-bottom: 2.2rem;
}

.baby-descricao > a {
    display: block;
    width: 100%;
    max-width: 18rem;
    font-size: var(--h7);
    text-transform: uppercase;
    background-color: var(--color-yellow-light);
    text-align: center;
    padding: 1.1rem 2.7rem;
    font-weight: var(--master-bold);
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
}

/* COMO FUNCIONA */
.como-funciona {
    height: 100%;
    min-height: 50rem;
    background-color: var(--color-green-light);
}

.como-funciona-detalhes {
    width: 100%;
    max-width: 101.03rem;
    padding: 5.5rem 12.7rem 7.2rem 6rem;
}

.como-funciona-detalhes h1 {
    font-size: var(--h2);
    color: var(--color-blue-light);
    margin-bottom: 7.2rem;
}

.passo-passo {
    display: flex;
    margin-left: 14.7rem;
    margin-bottom: 7.2rem;
}

.passo-um,
.passo-dois,
.passo-tres {
    display: flex;
    align-items: flex-start;
    margin-right: 5.5rem;
}

.passo-um .um span,
.passo-dois .dois span,
.passo-tres .tres span {
    font-size: var(--h1);
    color: var(--color-blue-light);
    margin-right: .903rem;
}

.descricao-passo-um,
.descricao-passo-dois,
.descricao-passo-tres {
    width: 100%;
    max-width: 19.7rem;
    font-size: var(--h6);
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--ultra-bold);
    margin-top: 1.4rem;
}

.como-funciona .saber-mais {
    text-align: center;
}

.como-funciona .saber-mais a {
    display: inline-block;
    border: 2px solid var(--color-blue-light);
    padding: 1.17rem 3rem;
    margin-bottom: 7.257rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--master-bold);
    font-size: var(--h7);
    text-transform: uppercase;
    color: var(--color-blue-light);
    border-radius: .8rem;
    width: 100%;
    max-width: 20rem;
}

/* PLANOS */
.planos {
    margin: 3.6rem 0 5.3rem 0;
    height: 100%;
    min-height: 43.9rem;
}


.container-planos h2 {
    color: var(--color-blue-light);
    font-size: var(--h2);
    margin: 0 0 1.2rem 6rem;
}

.planos-cards {
    width: 100%;
    /* max-width: 78.3rem; */
    display: flex;
    justify-content: center;
}

.card-um, 
.card-dois,
.card-tres {
    width: 100%;
    max-width: 24.7rem;
    height: 100%;
    min-height: 35rem;
    background-color: var(--color-orange-flat);
    border-radius: .9rem;
    padding: 4.6rem 1.6rem 3.7rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2.1rem;
}

.planos-cards div:nth-child(3) {
    margin-right: 0;
}

.mensalidade h2 {
    font-size: var(--h4);
    color: var(--color-cream);
    font-weight: var(--bold);
    margin-bottom: 2.4rem;
}

.preco p {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--h5);
    font-weight: var(--bold);
    color: var(--color-cream); 
}

.preco-descricao p {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--h8);
    color: var(--color-white);
    font-weight: var(--bold);
}

.plano-descricao p {
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--bold);
    font-size: var(--h7);
    color: var(--color-cream);
    margin: 3.6rem 0 3.8rem 0;
}

.botao-verifica-mensalidade button[type="submit"] {
    width: 100%;
    max-width: 18rem;
    padding: 1.1rem 2.7rem;
    border-radius: .5rem;
    background-color: var(--color-blue-flat-light);
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--master-bold);
    font-size: var(--h7);
    text-transform: uppercase;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.05));
}

/* CARD 2 */
.card-dois {
    background-color: var(--color-yellow-light);
}

.card-dois .mensalidade h2,
.card-dois .preco p,
.card-dois .preco-descricao p,
.card-dois .plano-descricao p {
    color: var(--color-grey-dark);
}

/* CARD 3 */
.card-tres {
    background-color: var(--color-blue-light);
    margin-bottom: 1.7rem;
}

.planos > p {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--h8);
    text-align: center;
    font-weight: var(--bold);
}

/* Recebimento Box */
.recebimento-box {
    margin: 0 17.4rem 9.1rem 6rem;
}

.container-recebimento-box {
    display: flex;
}

.resumo-recebimento-box {
    margin-right: 19.2rem;
}

.resumo-recebimento-box h2 {
    color: var(--color-blue-light);
    font-size: var(--h2);
    width: 100%;
    max-width: 41.1rem;
    margin-bottom: 4.6rem;
}

.resumo-recebimento-box p {
    width: 100%;
    max-width: 49.3rem;
    font-size: var(--h6);
    font-weight: var(--ultra-bold);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.95rem;
}

.itens {
    width: 100%;
    max-width: 28rem;
    margin-top: 9.4rem;
}

.itens ul li {
    font-size: var(--h4);
    margin-bottom: 1.3rem;
}

.itens ul li:last-child {
    margin-bottom: 0px;
}

.circle,
.bola-amarela,
.bola-azul {
    position: relative;
}

.orange,
.blue {
    width: 15rem;
    height: 15rem;
    background-color: var(--color-orange-flat);
    border-radius: 50%;
}

.orange {
    position: absolute;
    top: -20.7rem;
    left: -5.7rem;
}

.blue {
    width: 12rem;
    height: 12rem;
    position: absolute;
    background-color: var(--color-blue-light);
    top: -51rem;
    right: -6rem; 
}

.amarela {
    position: absolute;
    top: -15.7rem;
    right: 48rem;
}

.azul {
    position: absolute;
    top: -39rem;
    right: 21rem;
}

/* FOOTER */
.rodape {
    height: 100%;
    min-height: 35rem;
    background-color: var(--color-blue-light);
}

.container-rodape {
    padding: 4.9rem 8.8rem 1.3rem 3.4rem;
    display: flex;
}

.titulo-resumo {
    display: flex;
    align-items: flex-start;
}

.titulo-resumo img {
    margin-top: -.3rem;
}

.titulo-resumo .titulo {
    color: var(--color-cream);
    font-weight: var(--bold);
}

.titulo-resumo .titulo h2 {
    width: 100%;
    min-width: 44.2rem;
    font-size: var(--h3);
    margin-right: 13.8rem;
}

.titulo-resumo .titulo p {
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--bold-medium);
    font-size: 1.8rem;
    line-height: 2.194rem;
    margin-bottom: 3.633rem;
}

.titulo-resumo .titulo p.descricao {
    width: 100%;
    max-width: 37.5rem;
    font-size: var(--h6);
    font-weight: var(--ultra-bold);
    line-height: 1.95rem;
    margin-bottom: 8rem;
}

.redes-sociais {
    display: flex;
    color: var(--color-white);
    font-size: var(--h5);
    font-weight: var(--bold);
    margin-top: 2.5rem;
}

.seguir {
    display: flex;
    flex-direction: column;
}

.seguir h3,
.sobre h3 {
    margin: 0 11.4rem 1.917rem 0;
    width: 100%;
    max-width: 10rem;
    font-size: var(--h5);
}

.instagram,
.facebook,
.twitter {
    display: flex;
    align-items: center;
    margin-bottom: 1.667rem;
    font-size: var(--h6);
    font-family: 'Montserrat', sans-serif;
}

.instagram img,
.facebook img,
.twitter img {
    margin-right: .5rem;
}

.facebook img {
    margin-left: -.4rem;
    margin-right: .1rem;
}

.rodape h5 {
    text-align: center;
    color: var(--color-white);
    font-weight: var(--bold);
    font-size: 1.8rem;
    line-height: 2.178rem;
}


/* Media queries é TOP! */
/* @media (max-width: 768px) {
    html {
        font-size: 50%;
    }
} */